@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
    margin: 0;
    padding: 0;
    background: rgba(198, 222, 254, 0.54);
    background: linear-gradient(90deg, rgba(198, 222, 254, 0.781) 0%, rgba(242, 221, 255, 0.604) 100%);
}